<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- importaciones cells-->
<link rel="import" href="/bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="/bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="/bower_components/cells-st-button/cells-st-button.html">
<link rel="import" href="/bower_components/cells-ajax-behavior/cells-ajax-behavior.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/bower_components/cells-modal-alert/cells-modal-alert.html">
<link rel="import" href="/bower_components/cells-select/cells-select.html">

<link rel="import" href="/bower_components/cells-banking-theme/cells-banking-theme.html">

<dom-module id="mt-contract-info">
  <template>
    <style>
      :host {
        display: block;
        margin: 10px;
      }
    </style>
    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>

    <div class="vertical layout" style="margin: 10px;">
      <cells-molecule-input name="contractType"
                            label="Tipo de contrato"
                            type="text"
                            value="{{contract.description.content}}"
                            error-icon="coronita:warning"
                            error-message="Este campo no puede estar vacío"
                            style="margin: 10px;">
      </cells-molecule-input>
      <cells-molecule-input name="contractNumber"
                            label="Número de contrato (iban)"
                            type="text"
                            value="{{contract.description.value}}"
                            error-icon="coronita:warning"
                            error-message="Este campo no puede estar vacío"
                            disabled='[[updateMode()]]'
                            style="margin: 10px;">
      </cells-molecule-input>
      <cells-molecule-input name="alias"
                            label="Alias"
                            type="text"
                            value="{{contract.name}}"
                            error-icon="coronita:warning"
                            error-message="Este campo no puede estar vacío"
                            style="margin: 10px;">
      </cells-molecule-input>
      <cells-molecule-input name="balance"
                            label="Saldo - Aportacion inicial"
                            type="number"
                            value="{{contract.primaryAmount.amount}}"
                            error-icon="coronita:warning"
                            error-message="Este campo no puede estar vacío"
                            hidden='[[updateMode()]]'
                            style="margin: 10px;">
      </cells-molecule-input>
      <cells-select id="divisa"
        hidden='[[updateMode()]]'
        label="Seleccione Divisa"
        style="background: darkblue;"
        options='[
        { "title": "Euro (€)", "value" : "EUR"},
        { "title": "Dolar ($)", "value" : "USD"},
        { "title": "Libra (£)", "value" : "GBP"},
        { "title": "Yen (¥)", "value" : "JPY"},
        { "title": "Yuang (¥)", "value" : "CNY"},
        { "title": "Franco Suizo (Fr)", "value" : "CHF"},
        { "title": "Corona Noruega (Kr)", "value" : "NOK"}]'
        right-icon="coronita:unfold"
        selected-option='{ "title": "Euro (€)", "value" : "EUR"}'
        { "title": "Corona Noruega (Kr)", "value" : "NOK"}]' 
        right-icon="coronita:unfold" 
        style="max-width: 300px;align-content: center">
      </cells-select>
      </cells-select>  
    </div>

    <cells-modal-alert id='alertbox' toast >
    </cells-modal-alert>

    <cells-modal-alert id='successbox'
      type="success"
      icon="coronita:alert"
      close-on-button-click
      content="CONTRATO ACTUALIZADO CORRECTAMENTE"
      first-button-label="Continuar"
      first-button-classes="link"
      on-first-button-click="_continuar">

    </cells-modal-alert>


    <div class="light-bg">
      <cells-st-button class="quaternary">
        <button on-click="_clickCancel"
                style="margin: 10px;">Reset</button>
      </cells-st-button>
      <cells-st-button class="tertiary">
        <button on-click="_clickSave"
                style="margin: 10px;">Guardar</button>
      </cells-st-button>
    </div>



    <iron-ajax
    id = "doLoadData"
    url = "http://localhost:3000/moneyTracker/v1/user/{{userid}}/contracts/{{contractid}}"
    method = "GET"
    handle-a = "json"
    headers="[[getTokenFromCache()]]"
    content-type = "application/json"
    on-response = "manageLoadResponse"
    on-error = "manageLoadErrorResponse">

    <iron-ajax
    id = "doAddContract"
    url = "http://localhost:3000/moneyTracker/v1/user/{{userid}}/contracts/"
    method = "POST"
    handle-a = "json"
    headers="[[getTokenFromCache()]]"
    content-type = "application/json"
    on-response = "manageSaveResponse"
    on-error = "manageSaveErrorResponse">

    <iron-ajax
    id = "doUpdateContract"
    url = "http://localhost:3000/moneyTracker/v1/user/{{userid}}/contracts/{{contractid}}"
    method = "PUT"
    handle-a = "json"
    headers="[[getTokenFromCache()]]"
    content-type = "application/json"
    on-response = "manageSaveResponse"
    on-error = "manageSaveErrorResponse">
  </template>

  <script>

    /**
     * @customElement
     * @polymer
     */
    class MTContractInfo extends Polymer.Element {
      static get is() { return 'mt-contract-info'; }
      static get properties() {
        return {
          userid: {
            type: String,
            value: ""
          },
          contractid: {
            type: String,
            value: ""
          },
          contract: {
            type: Object,
            value: {
              "id": "",
              "name": "",
              "description": {
                  "content": "",
                  "value": "",
                  "masked": true
              },
              "primaryAmount": {
                  "amount": 0,
                  "currency": "",
                  "label": "Disponible"
              },
              "scale": 0
            }
          },
          oldcontract: {
            type: Object,
            value: {}
          },
          loading: {
            type: Boolean,
            value: false
          }
        };
      }

      updateMode() {
        return (this.contractid !== "");
      }

      _continuar(){
        console.log("cerramos ventana");
//        window.close();
        window.location = "/user/"+this.userid
      }

      _clickSave() {
        console.log("Save");
        this.loading = true;
        console.log(JSON.stringify(this.contract));
        this.contract.id = this.contract.description.value;
        this.contract.primaryAmount.amount = parseInt(this.contract.primaryAmount.amount);
        console.log("selected Option:" + this.$.divisa.selectedOption.value);
        this.contract.primaryAmount.currency = this.$.divisa.selectedOption.value;

        //TODO validar los imput y comprobar que las contraseñas coinciden
        var auxData = JSON.parse(JSON.stringify(this.contract));
        console.log("contract data: " + JSON.stringify(this.contract));
        if (this.contractid !== "") {
          delete auxData.number;
          this.$.doUpdateContract.body = JSON.stringify(auxData);
          this.$.doLoadData.headers['auth_token'] = window.sessionStorage.getItem('auth_token');
          this.$.doUpdateContract.generateRequest();
          console.log("Peticion update enviada");
        } else {
          this.$.doAddContract.body = JSON.stringify(auxData);
          this.$.doAddContract.headers['auth_token'] = window.sessionStorage.getItem('auth_token');
          this.$.doAddContract.generateRequest();
          console.log("Peticion insert enviada");
        }

      }

      _clickReset() {
        console.log("Cancel");
        this.contract = JSON.parse(JSON.stringify(this.oldcontract));
      }

      manageLoadResponse(data){
        console.log('manageLoadResponse');
        // Mostrar mensaje de error
        console.log(JSON.stringify(data.detail.response));
        console.log('retorno: ' + data.detail.response);
        if (!this.contractid) {
          //
        }
        var auxUserdata = JSON.parse(JSON.stringify(data.detail.response));
        this.contract = auxUserdata;
        this.oldcontract = auxUserdata;
        //this.$.alertbox.showToast({type: 'success', message: 'La información se ha cargado correctamente!'});
        this.$.successbox.content = 'La información se ha cargado correctamente!';
        this.$.successbox.open();
        this.loading=false;
        window.close();
      };

      manageLoadErrorResponse(err){
        console.log('manageLoadErrorResponse');
        console.log(err);
        // Mostrar mensaje de error y cerrar la ventana.
        var testAlert = 'Se ha producido un error: ' + err.message;
        this.err_message = testAlert;

        this.$.alertbox.type = 'error';
        this.$.alertbox.content = this.err_message;
        this.$.alertbox.open()
        //this.$.messageAlert.showToast({type: 'error', message: testAlert});
        this.loading=false;
      }

      manageSaveResponse(data){
        console.log('manageSaveResponse');
        this.loading=false;
        this.$.successbox.content = 'El contrato se ha añadido correctamente';
        this.$.successbox.open();
      };

      manageSaveErrorResponse(err){
        console.log('manageSaveErrorResponse');
        console.log(err);
        this.loading=false;
        // Mostrar mensaje de error y cerrar la ventana.
        this.err_message = "Error update contrato ";

        this.$.alertbox.type = 'error';
        this.$.alertbox.content = this.err_message;
        this.$.alertbox.open();
        window.close();
      }

      getTokenFromCache() {
        console.log('getTokenFromCache');
        var auth_token = window.sessionStorage.getItem('auth_token');
        var header = {'auth_token': auth_token};
        return header;
      }
    }

    window.customElements.define(MTContractInfo.is, MTContractInfo);
  </script>
</dom-module>
