<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="/bower_components/cells-modal-alert/cells-modal-alert.html">

<link rel="import" href="/bower_components/cells-molecule-input/cells-molecule-input-styles.html">
<link rel="import" href="/bower_components/coronita-icons/coronita-icons.html">

<dom-module id="mt-change-password">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <p class="text-muted"> token id: {{token}} </p>
    <div style="background-color:gainsboro;max-width: 300px;" align="center" >
      <cells-molecule-input name="password_input"
                            label="Introduzca la nueva contraseña"
                            required
                            type="password"
                            value="{{password}}"
                            icon="coronita:visualize"
                            icon-toggled="coronita:hide"
                            icon-label="View or hide password" >
      </cells-molecule-input>
      <cells-molecule-input name="repeated_input"
                            label="Introduzca de nuevo la contraseña"
                            required
                            type="password"
                            value="{{repeated}}"
                            icon="coronita:visualize"
                            icon-toggled="coronita:hide"
                            icon-label="View or hide password" >
      </cells-molecule-input>

      <p>Alta de nueva contraseña.</p>
      <div align="center">
        <button on-click="do_reset">Aceptar</button>
        <button on-click="do_cancel">Cancelar</button>
      </div>
    </div>

    <cells-modal-alert id='alertbox' toast >
      </cells-modal-alert>

      <cells-modal-alert id='successbox'
        type="success"
        icon="coronita:alert"
        close-on-button-click
        content="Se ha cambiado la contraseña. Pulse continuar para acceder a la aplicación"
        first-button-label="Continuar"
        first-button-classes="link"
        on-first-button-click="_continuar">
      </cells-modal-alert>

    <iron-ajax
      id = "doReset"
      url = "http://localhost:3000/moneyTracker/v1/user/action/changePassword"
      method = "POST"
      handle-a = "json"
      content-type = "application/json"
      on-response = "manageResetResponse"
      on-error = "manageErrorResponse"/>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MTChangePassword extends Polymer.Element {
      static get is() { return 'mt-change-password'; }
      static get properties() {
        return {
          password: {
            type: String,
          },
          repeated: {
            type: String
          },
          token: {
            type: String
          }
        };
      }

      do_reset() {
        console.log("do_reset");
        if (this.password != this.repeated) {
          console.log("Los campos no son iguales");
          //TODO mensaje de error.
          this.err_message = "Error, las contraseñas no son iguales ";

          this.$.alertbox.type = 'error';
          this.$.alertbox.content = this.err_message;
          this.$.alertbox.open()
        } else {
          console.log(this.token)
          this.$.doReset.headers['token']=this.token;
          this.$.doReset.body = JSON.stringify({'password' : this.password});
          this.$.doReset.generateRequest();
          console.log("Peticion enviada");
        }
      }
      do_cancel() {
        console.log("do_cancel");
      }

      _continuar(){
        console.log("adelante");
        window.location = "/login"
      }

      manageResetResponse(data) {
        // Procesamos la respuesta de actualizacion
        console.log("Se han actualizado " +data.n + " elementos");
        // TODO Mensaje de ok.
        this.$.successbox.open()

        window.location = '/login';
      }

      manageErrorResponse(error) {
        // Si el usuario ya está logado
        console.log("Error recibido");
        //TODO Mostrar mensaje de error.
        console.log(error.detail);
        this.err_message = error.detail;

        this.$.alertbox.type = 'error';
        this.$.alertbox.content = this.err_message;
        this.$.alertbox.open()

      }
    }

    window.customElements.define(MTChangePassword.is, MTChangePassword);
  </script>
</dom-module>
