<link rel="import" href="/bower_components/polymer/polymer-element.html">

<!--link rel="import" href="/src/component-selector/component-selector.html"-->

<link rel="import" href="/bower_components/cells-template-zones/cells-template-zones.html">
<link rel="import" href="/bower_components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="/bower_components/cells-navigation-bar/cells-navigation-bar.html">
<link rel="import" href="/bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="/bower_components/cells-middle-modal/cells-middle-modal.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">

<link rel="import" href="/src/mt-logout/mt-logout.html">
<link rel="import" href="/src/mt-user-info/mt-user-info.html">
<link rel="import" href="/src/mt-list-contracts/mt-list-contracts.html">
<link rel="import" href="/src/mt-list-transactions/mt-list-transactions.html">

<dom-module id="money-tracker">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--cells-template-zones id="template" disable-edge-swipe has-footer-->
    <cells-template-zones id="template" disable-edge-swipe>
      <div slot="app__header">
        <cells-component-app-header
          id="mtheader"
          text="Money Tracker"
          icon-left="coronita:home"
          icon-left-label="Home"
          icon-right="coronita:on"
          icon-right-label="Logout"
          icon-right-secondary="coronita:myprofile"
          icon-right-secondary-label="Profile"
          on-left-button-pressed="do_show_home"
          on-right-button-pressed="do_show_logout"
          on-right-secondary-button-pressed="do_show_profile">
        </cells-component-app-header>
      </div>
      <div slot="app__main">
        <iron-pages selected="[[componentName]]", attr-for-selected="component-name">
            <div component-name="mt-list-contracts">
                <mt-list-contracts 
                id='mtlistcontracts'
                userid="[[user_id]]"
                on-showtransactions="_showtransactions">
                </mt-list-contracts>
            </div>
            <div component-name="mt-list-transactions">
                <mt-list-transactions
                id='mtlisttramsactions' 
                userid="[[user_id]]"
                contractid="[[contract_id]]">
                </mt-list-transactions>
            </div>
        <!--component-selector user_id="{{user_id}}"></component-selector-->
      
      </div>
      <!--div slot="app__footer">
          <cells-navigation-bar selected="0" items="[[items]]" id="cells-navigation-bar"></cells-navigation-bar>
      </div-->
    </cells-template-zones>
    
    <cells-middle-modal id="profileWindow" 
                        close-icon="coronita:close" 
                        aria-labelledby="ariaText2">
      <mt-user-info userid="[[user_id]]" ></mt-user-info>

    </cells-middle-modal>

    <cells-middle-modal id="logoutWindow" 
                        close-icon="coronita:close" 
                        aria-labelledby="ariaText2">
      <div style="text-align: center">
          <h3> ¿Está seguro que quiere salir de esta maravilla de aplicación? </h3>
          <h4> Pulsa en el botón para confirmar.</h4>
          <mt-logout userid="[[user_id]]" ></mt-logout>
      </div>
      
    </cells-middle-modal>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MoneyTracker extends Polymer.Element {
      static get is() { return 'money-tracker'; }
      static get properties() {
        return {
          user_id: {
            type: String
          },
          contract_id: {
            type: String,
            value:""
          },
          items : {
            type: Array,
            value: [{
              'label': 'home',
              'icon': 'coronita:home',
              'id': 'home'
            }, {
              'label': 'Listado de contratos',
              'icon': 'coronita:wallet',
              'id': 'listcontracts'
            }, {
              'label': 'Listado de operaciones',
              'icon': 'coronita:alarm',
              'id': 'transaction'
            }]
          },
          componentName: {
            type: String,
            value: 'mt-list-contracts'
          },
          
        }
      }

      do_show_home() {
        console.log('showMenu');
        if (this.componentName !== 'mt-list-contracts') {
          this.componentName = 'mt-list-contracts';
          this.$.mtheader.setAttribute('icon-left','coronita:home');
        } else {
          window.alert("Ya estas en casa");
        } 

      }

      do_show_profile() {
        console.log('showProfile');
        this.$.profileWindow.set('open', true);
      }

      do_show_logout() {
        console.log('showLogout');
        this.$.logoutWindow.set('open', true)
      }

      _showtransactions(event) {
        console.log("_showtransactions");
        this.contract_id = this.$.mtlistcontracts.selectedcontractid;
        this.$.mtlisttramsactions.reload();
        this.$.mtheader.setAttribute('icon-left','coronita:back');
        this.componentName = 'mt-list-transactions'
      }
    }

    window.customElements.define(MoneyTracker.is, MoneyTracker);
  </script>
</dom-module>
