<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/bower_components/cells-st-button/cells-st-button.html">
<link rel="import" href="/bower_components/cells-select/cells-select.html">
<link rel="import" href="/bower_components/cells-radio-group/cells-radio-group.html">
<link rel="import" href="/bower_components/cells-atom-amount/cells-atom-amount.html">
<link rel="import" href="/bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="/bower_components/cells-modal-alert/cells-modal-alert.html">

<dom-module id="mt-add-transfer">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>

    <div class="vertical layout"
        style="max-width: 600px;margin-left: auto;margin-right: auto;align-self: center">

      <cells-molecule-input name="description_in"
                            label="Concepto"
                            type="text"
                            value="{{transaction.description}}"
                            error-icon="coronita:warning"
                            error-message="Este campo no puede estar vacío"
                            disabled="[[loading]]">
      </cells-molecule-input>
      <!-- cuenta destino o una combo con las cuentas. o un imput para poner un iban-->


      <div id="dImporte" class="horizontal layout">
        <!-- seleccion cuenta destino -->
        <div class="flex">
          <cells-molecule-input name="amount_in"
                                label="Importe"
                                type="number"
                                value="{{transaction.amount}}"
                                error-icon="coronita:warning"
                                error-message="Este campo no puede estar vacío"
                                disabled="[[loading]]"
                                on-focused-changed='amountChanged'>
          </cells-molecule-input>
        </div>
      </div>

      <cells-select id="destinationAcount"
          label="demo-label"
          placeholder="demo-placeholder"
          right-icon="coronita:unfold"
          options="[[contracts]]">
      </cells-select>

      <div class="horizontal layout">
        <cells-st-button class="tertiary">
          <button on-click="_clickSave">Aceptar</button>
        </cells-st-button>
        <cells-st-button class="quaternary">
          <button on-click="_clickCancel">Cancelar</button>
        </cells-st-button>
      </div>

      <!-- TODO mostrar el mensaje de ok y preguntar si quiere realizar otra operación-->
    </div>

    <cells-modal-alert id='alertbox' toast >
    </cells-modal-alert>

    <cells-modal-alert id='successbox'
      type="success"
      icon="coronita:alert"
      close-on-button-click
      content="Operación dada de alta correctamente."
      first-button-label="Continuar"
      first-button-classes="link"
      on-first-button-click="_continuar">
    </cells-modal-alert>

    <iron-ajax id = "doInsertTransaction"
              url = "http://localhost:3000/moneyTracker/v1/user/[[userid]]/contracts/[[contractid]]/transfer"
              method = "POST"
              handle-a = "json"
              headers="[[getTokenFromCache()]]"
              content-type = "application/json"
              on-response = "manageSaveResponse"
              on-error = "manageSaveErrorResponse">
    </iron-ajax>

    <iron-ajax id = "doLoadContracts"
              url = "http://localhost:3000/moneyTracker/v1/user/[[userid]]/contracts"
              method = "GET"
              handle-a = "json"
              headers="[[getTokenFromCache()]]"
              content-type = "application/json"
              on-response = "manageLoadResponse"
              on-error = "manageLoadErrorResponse">
  </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MTAddTransfer extends Polymer.Element {
      static get is() { return 'mt-add-transfer'; }
      static get properties() {
        return {
          userid: {
            type: String,
            value: ""
          },
          contractid: {
            type: String,
            value: ""
          },
          currencyid: {
            type: String,
            value: "EUR"
          },
          transaction: {
            type: Object,
            value: {}
          },
          destination: {
            type: Object,
            value: {}
          },
          contracts: {
            type: Array,
            value: []
          },
          loading: {
            type: Boolean,
            value: false
          }
        };
      }

      _clickSave() {

        console.log("Save");
        this.loading = true;

        this.transaction.originalamount = this.transaction.amount*-1;
        this.transaction.amount = this.transaction.amount*-1;
        this.transaction.originalcurrency = this.transaction.currency;

        this.transaction.currency = this.currencyid;
        console.log("JLS - debug: " + this.$.destinationAcount.selectedOption);
        this.transaction.destinationaccountid = this.$.destinationAcount.selectedOption.id;

        console.log(JSON.stringify(this.transaction));

        //TODO validar los input
        var transactionData = JSON.parse(JSON.stringify(this.transaction));

        this.$.doInsertTransaction.body = JSON.stringify(transactionData);
        this.$.doInsertTransaction.generateRequest();

        // actualizamos los contratos
        console.log("Peticion insert enviada");

      }


      _clickCancel() {
        console.log("clickCancel");
      }

      manageSaveResponse(data) {
        console.log('manageSaveResponse');

        //TODO Mostrar un mensaje de que la información se ha guardado correctamente
        this.err_message = "Operación ejecutada correctamente";
        this.$.doLoadContracts.generateRequest();
      };

      manageSaveErrorResponse(err) {
        console.log('manageSaveErrorResponse');
        console.log(err);
        // TODO Mostrar mensaje de error y cerrar la ventana.
        this.err_message = "Error al actualizar datos usuario ";

        this.$.alertbox.type = 'error';
        this.$.alertbox.content = this.err_message;
        this.$.alertbox.open()

        this.loading = false;
      }

      manageLoadResponse(data) {
        console.log('manageLoadResponse');
        // Mostrar mensaje de error
        console.log(JSON.stringify(data.detail.response));
        this.contracts = JSON.parse(JSON.stringify(data.detail.response));

        this.contracts = [];
        // TODO Eliminamos el contrato con el id de entrada.
        for (var contract of data.detail.response) {
          if (contract.id !== this.contractid) {
            this.contracts.push({id: contract.id,
                                 title: contract.name,
                                 description: contract.primaryAmount.amount,
                                 currencyCode: contract.primaryAmount.currency
                                });
            console.log(this.contractid + "|-------> " + JSON.stringify(contract));
          }
        }

        this.$.destinationAcount.options = this.contracts;

        /* OJO JULIA ESTO LO COMENTO PORQUE ESTE LOAD NO ES UNA ACCION REAL, SOLO CARGA LA COMBO
         * Y EL USUARIO SE ESTABA BORRANDO POR LA LINEA QUE HAS METIDO DE <this.userid = data.detail.response._id;>
        this.err_message = "Acceso realizado correctamente ";
        this.userid = data.detail.response._id;
        this.$.successbox.open()  <-- No hay que avanzar antes un ok en este componente
        */
       this.loading=false;

      };

      manageLoadErrorResponse(err) {
        console.log('manageLoadErrorResponse');
        console.log(err);
        this.err_message=err.message;

        this.contracts = [];
        // Mostrar mensaje de error y cerrar la ventana.
        this.$.alertbox.type = 'error';
        this.$.alertbox.content = this.err_message;
        this.$.alertbox.open()
        this.loading=false;
      }

      getTokenFromCache() {
        console.log('getTokenFromCache');
        var auth_token = window.sessionStorage.getItem('auth_token');
        var header = {'auth_token': auth_token};
        return header;
      }

      _continuar(){
        console.log("adelante");
        window.location = "/user/"+this.userid
      }

      reload() {
        this.$.doLoadContracts.generateRequest();
      }

    }
    window.customElements.define(MTAddTransfer.is, MTAddTransfer);
  </script>
</dom-module>
