<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/cells-atom-icon/cells-atom-icon.html">
<link rel="import" href="/bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="/bower_components/cells-st-button/cells-st-button.html">
<link rel="import" href="/bower_components/cells-modal-alert/cells-modal-alert.html">
<!-- link rel="import" href="../../bower_components//" -->

<!-- Importaciones de estilos-->

<dom-module id="mt-logout">
  <style>
    :host {
      display: block;
    }
  </style>
  <template>

    <cells-st-button class="composed" on-click = "do_logout">
      <button>
        <span class="btn-contents">
          <span class="btn-text">Logout</span>
          <cells-atom-icon class="btn-icon icon-size-24" icon="coronita:on"></cells-atom-icon>
        </span>
      </button>
    </cells-st-button>

    <cells-modal-alert id='alertbox' toast >
      </cells-modal-alert>

    <iron-ajax
      id = "doLogout"
      url = "http://localhost:3000/moneyTracker/v1/user/{{userid}}/logout"
      method = "POST"
      handle-a = "json"
      headers="[[getTokenFromCache()]]"
      content-type = "application/json"
      on-response = "manageLogoutResponse"
      on-error = "manageErrorResponse">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MTLogout extends Polymer.Element {
      static get is() { return 'mt-logout'; }
      static get properties() {
        return {
          loading: {
            type: Boolean,
            value: false
          },
          client_id: {
            type: String
          }
        };
      }

      do_logout() {
        console.log("logout pulsado");
        this.loading = true;
        if (window.sessionStorage.getItem('auth_token')==null) {
          console.log("No hay token de seguridad");
          // MENSAJE DE ERROR
          this.err_message = "Usuario No logado ";

          this.$.alertbox.type = 'error';
          this.$.alertbox.content = this.err_message;
          this.$.alertbox.open()
        } else {
          this.$.doLogout.headers['auth_token']= window.sessionStorage.getItem('auth_token');
          this.$.doLogout.generateRequest();
          console.log("Peticion enviada");

        }
      }

      manageLogoutResponse(data) {
        console.log("Recibida respuesta" + data.detail.response);

        window.sessionStorage.removeItem('auth_token');
        //window.location = "/user/"+data.detail.response._id

        this.err_message = "Desconexión realizada correctamente ";

        this.$.alertbox.type = 'success';
        this.$.alertbox.content = this.err_message;
        this.$.alertbox.open()

        this.loading = false;

      }

      manageErrorResponse(error) {
        // Si el usuario ya está logado
        console.log("Error recibido");
        console.log(error.detail.request.xhr.response);
        console.log(error.detail.request.xhr.status);
      //  this.err_message = error.detail.request.xhr.response.err;
      // revisar, para mostrar el error devuelto por el Logout.
      //  this.err_message = "error logout - No llega a la url el client_id";
        this.err_message = error.detail.request.xhr.response.err;

        this.$.alertbox.type = 'error';
        this.$.alertbox.content = this.err_message;
        this.$.alertbox.open()

        this.loading = false;

      }

      getTokenFromCache() {
        console.log('getTokenFromCache');
        var auth_token = window.sessionStorage.getItem('auth_token');
        var header = {'auth_token': auth_token};
        return header;
      }

    }

    window.customElements.define(MTLogout.is, MTLogout);
  </script>
</dom-module>
