<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/bower_components/cells-radio-group/cells-radio-group.html">
<link rel="import" href="/bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">

<link rel="import" href="/src/mt-add-transaction/mt-add-transaction.html">
<link rel="import" href="/src/mt-add-transfer/mt-add-transfer.html">
<!--link rel="import" href="/src/mt-add-buyShare/mt-add-buyShare.html">
<link rel="import" href="/src/mt-add-sellShare/mt-add-sellShare.html"-->


<dom-module id="mt-operation">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>

    <!-- selector del tipo de operación al cambiar la operación, limpiamos los campos y elegimos que visualizar-->
  
    <div class="vertical layout"
        style="max-width: 600px;margin-left: auto;margin-right: auto;align-self: center">
      <div class="flex">
        <cells-radio-group aria-labelledby="concepts" 
                          on-cells-radio-group-selected-changed="conceptSelected"
                          icon-check="coronita:checkmark">

          <cells-radio-button icon="coronita:transferaccount">Transferencia</cells-radio-button>
          <cells-radio-button icon="coronita:transfer">Transpaso</cells-radio-button>
          <cells-radio-button icon="coronita:stock">Comprar Acciones</cells-radio-button>
          <cells-radio-button icon="coronita:investment">Vender Acciones</cells-radio-button>
        
        </cells-radio-group>
      </div>

      <iron-pages selected="[[operation]]", attr-for-selected="operationtype">
        <div operationtype="transferencia">
          <mt-add-transaction id="mtaddtransaction" userid="[[userid]]" contractid="[[contractid]]" currencyid="[[currencyid]]">
          </mt-add-transaction>
        </div>
        <div operationtype="traspaso">
          <mt-add-transfer id="mtaddtransfer" userid="[[userid]]" contractid="[[contractid]]" currencyid="[[currencyid]]">
          </mt-add-transfer>
        </div>
        <!--div operationtype="compra">
          <mt-add-purchage userdata="[[userdata]]" contractid="[[contractid]]">
          </mt-add-transaction>
        </div>
        <div operationtype="venta">
          <mt-add-sell userdata="[[userdata]]" contractid="[[contractid]]">
          </mt-add-transaction>
        </div-->
         
      </iron-pages>
    </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class MTOperation extends Polymer.Element {
      static get is() { return 'mt-operation'; }
      static get properties() {
        return {
          userid: {
            type: Object
          },
          contractid: {
            type: String,
            value: ""
          },
          operation: {
            type: String
          },
          currencyid: {
            type: String,
            value: 'EUR'
          }
        };
      }

      _clickCancel() {
        console.log("clickCancel");
      }

      // 
      conceptSelected(infoConcept) {
        console.log("infoConcept:" + infoConcept.detail.value);
        //window.alert(JSON.stringify(infoConcept.detail.value));

        switch(infoConcept.detail.value) {
            case 0:
                // Transferencia
                this.operation = 'transferencia';
                break;
            case 1:
                // Traspaso
                this.operation = 'traspaso';
                this.$.mtaddtransfer.reload();
                break;
            case 2:
                // Compra de valores
                this.operation = 'compra';
                break;
            case 3:
                // Venta de valores
                this.operation = 'venta';
                break;
        }
      }

    }

    window.customElements.define(MTOperation.is, MTOperation);
  </script>
</dom-module>
