<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/cells-st-link/cells-st-link.html">
<link rel="import" href="/bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/cells-banking-theme/cells-banking-theme.html">
<link rel="import" href="/bower_components/cells-modal-alert/cells-modal-alert.html">


<!-- Importaciones de estilos-->
<!--link rel="import" href="/bower_components/cells-theme-base/cells-theme-base.html"-->

<dom-module id="mt-login">
  <style>
    :host {
      display: block
    }
  </style>
  <style is="custom-style" include="iron-flex iron-flex-alignment"></style>

  <template>
    <div class="horizontal layout">
      <div class="vertical layout"
          style="max-width: 500px;margin-left: auto;margin-right: auto;border-style: groove;background-color: silver">

        <cells-molecule-input name="email_in"
                              label="Email"
                              type="email"
                              value="{{email}}"
                              autofocus
                              auto-validate
                              required
                              error-icon="coronita:warning"
                              error-message="Este campo debe contener un email válido"
                              disabled="[[loading]]"
                              style="margin: 5px;">
        </cells-molecule-input>
        <cells-molecule-input name="password_in"
                              label="Contraseña"
                              type="password"
                              value="{{password}}"
                              icon="coronita:visualize"
                              icon-toggled="coronita:hide"
                              icon-label="View or hide password"
                              auto-validate
                              required
                              error-message="Este campo no puede estar vacío"
                              readonly="[[loading]]"
                              style="margin: 5px;">
        </cells-molecule-input>
        <cells-st-link><a href="/forgot">¿Has olvidado la contraseña?</a></cells-st-link>
        <br>
        <label hidden$="{{!isLogged}}">
          <input id="check_force" class="form-check-input" type="checkbox" checked="{{force::change}}">
          Forzar cierre de sesion anterior
        </label>
        <br>
      <div align="center">
        <p style="color: dimgray">Si continuas, aceptas todo lo que necesitemos que aceptes.</p>

        <cells-st-button class="tertiary">
          <button on-click="do_login">Aceptar</button>
        </cells-st-button>
        <cells-st-button class="quaternary">
          <button on-click="cancel_login">Cancelar</button>
        </cells-st-button>
        <br>
        <br>
        <cells-st-button>
          <button on-click="new_user">Es mi primera vez...</button>
        </cells-st-button>
      </div>
    </div>
      <div class=flex> a</div>
    
    </div>

  <cells-modal-alert id='alertbox' toast >
    </cells-modal-alert>

    <cells-modal-alert id='successbox' 
      type="success" 
      icon="coronita:alert" 
      close-on-button-click 
      content="BIENVENIDO A TU APP" 
      first-button-label="Continuar" 
      first-button-classes="link"
      on-first-button-click="_continuar">
    </cells-modal-alert>

    <iron-ajax
      id = "doLogin"
      url = "http://localhost:3000/moneyTracker/v1/login"
      method = "POST"
      handle-a = "json"
      content-type = "application/json"
      on-response = "manageLoginResponse"
      on-error = "manageErrorResponse">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MTLogin extends Polymer.Element {
      static get is() { return 'mt-login'; }
      static get properties() {
        return {
          user_id: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          isLogged: {
            type: Boolean,
            value: false
          },
          loading: {
            type: Boolean,
            value: false
          }
        };
      }

      do_login() {
        console.log("login pulsado");
        this.loading = true;
        var loginData = {
          "email" : this.email,
          "password" : this.password
        };
        console.log("force? " + this.$.check_force.checked);

        if (this.$.check_force.checked) {
          this.$.doLogin.headers['forcelogin']='true';
        }
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        this.loading = true;
        console.log("Peticion enviada");
      }

      manageLoginResponse(data) {
        this.isLogged = true;
        console.log("Recibida respuesta" + data.detail.response);

        window.sessionStorage.setItem('auth_token', data.detail.response.auth_token );
        // Mostrar mensaje antes de la redirección

        this.err_message = "Acceso realizado correctamente ";
        this.user_id = data.detail.response._id;

        this.$.successbox.open()

        this.loading = false;
      }

      manageErrorResponse(error) {
        // Si el usuario ya está logado
        console.log("Error recibido");
        console.log(error.detail.request.xhr.response);
        console.log(error.detail.request.xhr.status);
        if (error.detail.request.xhr.response.code == "userAlreadyLogged") {
          this.isLogged = true;
          this.err_message = "Ya existe una sesión abierta. Si quieres continuar selecciona la opción 'forzar' ";

          this.$.alertbox.type = 'info';
          this.$.alertbox.content = this.err_message;
          this.$.alertbox.open()
        } else {
          this.err_message = error.detail.request.xhr.response.err;

          this.$.alertbox.type = 'error';
          this.$.alertbox.content = this.err_message;
          this.$.alertbox.open()
        }


        this.loading = false;

      }

      cancel_login() {
        console.log('cancel login pressed')
        this.loading = false;
        window.close()
      }
      new_user() {
        window.location = '/signup'
      }

      _continuar(){
        console.log("adelante");
        window.location = "/user/"+this.user_id
      }
    }

    window.customElements.define(MTLogin.is, MTLogin);
  </script>
</dom-module>
