<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/cells-modal-alert/cells-modal-alert.html">

<dom-module id="mt-validate-user">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    {{token}}
    <h2> ESTAMOS ACTIVANDO SU CUENTA</h2>
    <!-- Incluir imagenes de bienvenida y timer-->
    <h2> Espere unos segundos</h2>

    <button disabled='[[loading]]' on-click='do_validate'>Validar correo</button>

    <cells-modal-alert id='alertbox' toast >
      </cells-modal-alert>

    <iron-ajax
    id = "doValidate"
    url = "http://localhost:3000/moneyTracker/v1/user/action/validateUser"
    method = "POST"
    handle-a = "json"
    content-type = "application/json"
    on-iron-ajax-presend = "prepareHeaders"
    on-response = "manageValidateResponse"
    on-error = "manageErrorResponse"/>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MTValidateUser extends Polymer.Element {
      static get is() { return 'mt-validate-user'; }
      static get properties() {
        return {
          token : {
            type: String
          },
          loading: {
            type: Boolean,
            value: false
          }
        };
      }

      do_validate() {
        this.loading=true;
        console.log("do_validate");
        this.$.doValidate.headers['token']=this.token;
        this.$.doValidate.generateRequest();
      }

      manageValidateResponse() {
        console.log('manageValidateResponse');
        // Si la validación es correcta... redirigimos al login
        window.location = "/login"
        this.loading = false;
      }
      manageErrorResponse() {
        console.log('manageErrorResponse');
        // TODO Mostar mensaje de error y permitir revisar los datos / reintentar
        this.err_message = "Datos usuario incorrecto, revise datos y reintent la operación ";

        this.$.alertbox.type = 'warning';
        this.$.alertbox.content = this.err_message;
        this.$.alertbox.open()
        this.loading = false;
      }
    }

    window.customElements.define(MTValidateUser.is, MTValidateUser);
  </script>
</dom-module>
