<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="/bower_components/cells-molecule-input/cells-molecule-input-styles.html">
<link rel="import" href="/bower_components/cells-modal-alert/cells-modal-alert.html">

<dom-module id="mt-reset-password">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <div style="background-color:gainsboro" align="center">

      <div class="alert alert-dismissible alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h4 class="alert-heading">¿Olvidaste la contraseña?</h4>
          <p class="mb-0">Para evitar que esto te vuelva a suceder en el futuro, pulsa
            <a target="_blank" href="https://laguiadelasvitaminas.com/pastillas-para-mejorar-la-memoria/" class="alert-link">aqui</a>.</p>
      </div>

      <cells-molecule-input name="email_in"
                            label="Email"
                            type="email"
                            value="{{email}}"
                            autofocus
                            auto-validate
                            required
                            error-icon="coronita:warning"
                            error-icon="Introduzca un correo válido"
                            style="max-width: 400px;">
        <iron-icon icon="mail" slot="prefix"></iron-icon>
      </cells-molecule-input>
      <br>
      <p class="text-muted">Al pulsar enviar se enviará un correo para el reseteo a la dirección indicada.</p>
      <div align="center">
        <button type="button" class="btn btn-success btn-lg" on-click="do_reset_request">Aceptar</button>
      </div>
    </div>

    <cells-modal-alert id='alertbox' toast >
      </cells-modal-alert>

      <cells-modal-alert id='successbox'
        type="success"
        icon="coronita:alert"
        close-on-button-click
        content="Se ha manado un mail  a la dirección proporcionada. Acceda a su correo y cambie la contraseña"
        first-button-label="Continuar"
        first-button-classes="link"
        on-first-button-click="_continuar">
      </cells-modal-alert>

    <iron-ajax
      id = "senderResetEmail"
      url = "http://localhost:3000/moneyTracker/v1/forgotpassword"
      method = "POST"
      handle-a = "json"
      content-type = "application/json"
      on-response = "manageResetResponse"
      on-error = "manageErrorResponse">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MTResetPassword extends Polymer.Element {
      static get is() { return 'mt-reset-password'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          loading: {
            type: Boolean,
            value: false
          }
        };
      }
      do_reset_request() {
        console.log("boton pulsado");
        var email_json = {
          "email" : this.email
        }
        this.$.senderResetEmail.body = JSON.stringify(email_json);
        this.$.senderResetEmail.generateRequest();
        console.log("Peticion enviada");
      };
      _continuar(){
        console.log("vamos al Login");
        window.location = "/login"
      }
      manageResetResponse(data){
        console.log('manageResetResponse' + data);
        // TODO Mostrar mensaje de confirmar con botón para mandar al login
        this.$.successbox.open()
      };
      manageErrorResponse(e){
        console.log('manageErrorResponse' + JSON.stringify(e));
        // TODO Mostrar mensaje de error y borrar el dato introducido
        this.err_message = "Se ha producido un error inexperado. Intentelo de nuevo ";

        this.$.alertbox.type = 'error';
        this.$.alertbox.content = this.err_message;
        this.$.alertbox.open()
        this.email="";
      }
    }

    window.customElements.define(MTResetPassword.is, MTResetPassword);
  </script>
</dom-module>
