<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-list/iron-list.html">
<link rel="import" href="/bower_components/cells-movements-list-item/cells-movements-list-item.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="/bower_components/cells-st-button/cells-st-button.html">
<link rel="import" href="/bower_components/cells-middle-modal/cells-middle-modal.html">

<link rel="import" href="/src/mt-operation/mt-operation.html">

<dom-module id="mt-list-transactions">
  <template>
    <style>
      :host {
        height: 100vh;
        display: flex;
        flex-direction: column;
      }
      iron-list {
        flex: 1 1 auto;
      }
      div.row {
        clear:both;
      }
    </style>
    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>
    
    <div class="horizontal layout">

      <cells-st-button class="composed primary">
        <button on-click="reload">
          <iron-icon class="btn-icon" icon="coronita:return"></iron-icon>
        </button>
      </cells-st-button>
      <cells-st-button class="composed primary">
        <button on-click="do_showOperate">
          <iron-icon class="btn-icon" icon="coronita:addnotes"></iron-icon>
          Operar
        </button>
      </cells-st-button>
    </div>

    <hr style="border:3px;">  
    
    <iron-list items=[[transactions]] style="background-color: white">
      <template>
        <div class="horizontal layout">
          <cells-movements-list-item 
            date='[[item.date]]'
            description='[[item.description]]'
            label='[[item.label]]'
            category='[[item.category]]'
            category-description='[[item.category-description]]'
            parsed-amount='[[item.parsed-amount]]'
            parsed-accounting-balance='[[item.parsed-accounting-balance]]' 
            badges='[[item.badges]]'
            >
          </cells-movements-list-item>
        </div>
      </template>
    </iron-list>
  
    <cells-middle-modal id="operateWindow" 
          close-icon="coronita:close" 
          aria-labelledby="ariaText2"
          on-cells-middle-modal-close="reload">
      <mt-operation id="mtoperation" userid="[[userid]]" contractid="[[contractid]]" ></mt-operation>
    </cells-middle-modal>

    <iron-ajax
    id = "doLoadData"
    url = "http://localhost:3000/moneyTracker/v1/user/[[userid]]/contracts/[[contractid]]/transactions"
    method = "GET"
    handle-a = "json"
    headers="[[getTokenFromCache()]]"
    content-type = "application/json"
    on-response = "manageLoadResponse"
    on-error = "manageLoadErrorResponse">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MTListTransactions extends Polymer.Element {
      static get is() { return 'mt-list-transactions'; }
      static get properties() {
        return {
          userid: {
            type: String,
            value: ""
          },
          contractid: {
            type: String,
            value: ""
          },
          transactions: {
            type: Array,
            value: []
          }
        };
      }

      reload(){
        console.log("reload");
        this.$.doLoadData.generateRequest();
        this.loading=true;
      }
      
      manageLoadResponse(data){
        console.log('manageLoadResponse');
        // Mostrar mensaje de error
        console.log("listado de salida: " + JSON.stringify(data.detail.response));
        
        this.transactions = data.detail.response;
        for (var transaction of this.transactions) {
          //console.log('test: ' + JSON.stringify(transaction.test) )
          transaction.badges = JSON.parse("["+ JSON.stringify(transaction.test) +"]");
          //console.log(transaction.badges);  
        }
        this.loading=false;
      };

      manageLoadErrorResponse(err){
        console.log('manageLoadErrorResponse');
        console.log(err);
        // Mostrar mensaje de error y cerrar la ventana.
        var testAlert = 'Se ha producido un error: ' + err.message;
        this.transactions = [];
        this.loading=false;
      }

      selectTransaction(data) {
        console.log("itemselected");
        console.log("item: " + data);
      }
      
      getTokenFromCache() {
        console.log('getTokenFromCache');
        var auth_token = window.sessionStorage.getItem('auth_token');
        var header = {'auth_token': auth_token};
        return header;
      }

      do_showOperate(){
        console.log('addTransaction');
        this.$.operateWindow.set('open', true)
        //Show modal con la ventana del alta de contrato
      };
    }
    window.customElements.define(MTListTransactions.is, MTListTransactions);
  </script>
</dom-module>
