<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/cells-product-item-list/cells-product-item-list.html">

<link rel="import" href="/bower_components/cells-middle-modal/cells-middle-modal.html">
<link rel="import" href="/bower_components/google-chart/google-chart.html">
<link rel="import" href="/src/mt-contract-info/mt-contract-info.html">
<link rel="import" href="/src/mt-operation/mt-operation.html">

<dom-module id="mt-list-contracts">
  <template>
    <style>
      :host {
        display: block;
      }
      google-chart {
        height: 300px;
        width: 50em;
      }
    </style>
    

    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>

    <!-- selector del tipo de operación al cambiar la operación, limpiamos los campos y elegimos que visualizar-->
    <cells-st-button class="composed primary">
      <button on-click="reload">
          <iron-icon class="btn-icon" icon="coronita:return"></iron-icon>
        </button>
    </cells-st-button>

    <hr style="border:3px;">  
    
    <div class="vertical layout"
        style="max-width: 1000px;margin-left: auto;margin-right: auto;align-self: center">
      <h1 align="center">Listado de contratos</h1>
      <cells-product-item-list id='contractsList'
                              items="[[contracts]]" 
                              balance="[[balance]]"
                              visibleChars=8
                              on-product-item-tap="contractTapped">
      </cells-product-item-list>

      <br>    
      <div align='center'>
          <cells-st-button class="composed primary">
            <button on-click="addNewContract">
              <iron-icon class="btn-icon" icon="coronita:add"></iron-icon>
              Alta contracto
            </button>
          </cells-st-button>
      </div>
      <div style="text-align: center;">
        <hr style="border:5px;border-color: darkblue">  
        <h5>[[selectedcontractid]]</h5>
        <hr style="border:5px;border-color: darkblue">  
      </div>    
      <div class="horizontal layout" >
        <div>
          <cells-st-button class="composed primary">
            <button on-click="toggleGrafics">
              <iron-icon id='showiban' class="btn-icon" icon="coronita:hide"></iron-icon>
              Mostrar gráficos
            </button>
          </cells-st-button>
        </div>
        <div id='actionButtons' hidden >
          <div>
          <cells-st-button class="composed primary">
            <button on-click="do_showOperate">
              <iron-icon class="btn-icon" icon="coronita:addnotes"></iron-icon>
              Operar
            </button>
          </cells-st-button>
          </div><div>
          <cells-st-button class="composed primary">
            <button on-click="do_showTransactions">
              <iron-icon class="btn-icon" icon="coronita:listview"></iron-icon>
              Ver movimientos
            </button>
          </cells-st-button>
          </div>
        </div>
      </div>
    <br>

    <!-- Grafico de distribución de saldo por contrato -->    

    <!-- MODAL PARA PRESENTAR EL ALTA DE CONTRATO Y EL DETALLE DE CONTRATO-->
    <cells-middle-modal id="newContractWindow" 
                        close-icon="coronita:close" 
                        aria-labelledby="ariaText2"
                        on-cells-middle-modal-close="reload">
      <mt-contract-info id="contractinfo" userid="[[userid]]" contractid="" ></mt-contract-info>
      TODO Controlar la finalización ok para actualizar los contratos y presentar el nuevo
    </cells-middle-modal>

    <!-- MODAL PARA PRESENTAR EL ETALLE DE CONTRATO-->
    <cells-middle-modal id="infoContractWindow" 
                        close-icon="coronita:close" 
                        aria-labelledby="ariaText2"
                        on-cells-middle-modal-close="reload">
      <mt-contract-info id="contractinfo" userid="[[userid]]" contractid="[[selectedcontractid]]" ></mt-contract-info>
      TODO Controlar la finalización ok para actualizar los contratos y presentar el nuevo
    </cells-middle-modal>

    <!-- MODAL PARA PRESENTAR EL ALTA DE OPERACIONES-->
    <cells-middle-modal id="operateWindow" 
                        close-icon="coronita:close" 
                        aria-labelledby="ariaText2"
                        on-cells-middle-modal-close="reload">
      <mt-operation id="mtoperation" userid="[[userid]]" contractid="[[selectedcontractid]]" currencyid=[[selectedcurrencyid]]></mt-operation>
    </cells-middle-modal>

    <!-- GRAFICOS AL FINAL DE LA PÁGINA-->
    <div id='graphics' hidden >
      <google-chart
        id='graficoCuentas'
        type='pie'
        options='{"title": "Distribución de importe por contrato"}'
        cols='[{"label":"Cuenta", "type":"string"}, {"label":"Importe", "type":"number"}]'
        rows='[[tablaCuentas]]'>
      </google-chart>

      <google-chart
        id='graficoDivisas'
        type='pie'
        options='{"title": "Distribución de patrimonio por divisa"}'
        cols='[{"label":"Divisa", "type":"string"}, {"label":"Importe", "type":"number"}]'
        rows='[[tablaDivisas]]'>
      </google-chart>
    </div>
    <iron-ajax id = "doLoadData"
              url = "http://localhost:3000/moneyTracker/v1/user/[[userid]]/contracts"
              method = "GET"
              handle-a = "json"
              content-type = "application/json"
              headers="[[getTokenFromCache()]]"
              on-response = "manageLoadResponse"
              on-error = "manageLoadErrorResponse"
              auto>
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    //window.addEventListener('WebComponentsReady', reload());

    class MTListContracts extends Polymer.Element {
      static get is() { return 'mt-list-contracts'; }
      static get properties() {
        return {
          userid: {
            type: String
          },
          token: {
            type: String,
          },
          contracts: {
            type: Array,
            value: [
              /*{
              'id': '2003',
              'name': 'Cuenta en dólares',
              'description': {
                'content': 'Cuenta oro',
                'value': '050400010100001605',
                'masked': true
              },
              'primaryAmount': {
                'amount': 1700000,
                'currency': 'USD',
                'label': 'Disponible'
              },
              'scale': 0
            }*/
            ]
          },
          balance: {
            type: Object,
            value: {'amount':0, 'currency':'EUR','scale': 0}
          },
          selectedcontractid: {
            Type: String
          },
          selectedcurrencyid: {
            Type: String
          },
          fixing : {
            type: Object,
            value: {}
          }
        };
      }

      contractTapped(item) {
        console.log("contractTapped");
        this.selectedcontractid = this.$.contractsList.productId;
        console.log("----:" + JSON.stringify(this.contracts) + "//" + this.selectedcontractid);
        var selection = this.contracts.filter(contract => contract.id == this.selectedcontractid);
        console.log("selected contract:" + JSON.stringify(selection));
        if (selection.length > 0){
          this.selectedcurrencyid = selection[0].primaryAmount.currency;
          this.$.actionButtons.hidden = false;
        } else {
          // TODO Mostrar mensaje de error
        }
      }

      reload() {
        console.log("reload");
        var auth_token = window.sessionStorage.getItem('auth_token');
        this.$.doLoadData.headers['auth_token'] = auth_token;
        this.$.doLoadData.generateRequest();
        this.loading=true;
      }

      getTokenFromCache() {
        console.log('getTokenFromCache');
        var auth_token = window.sessionStorage.getItem('auth_token');
        var header = {'auth_token': auth_token};
        return header;
      }

      manageLoadResponse(data){
        console.log('manageLoadResponse');
        // Mostrar mensaje de error
        console.log(JSON.stringify(data.detail.response));
        this.contracts = JSON.parse(JSON.stringify(data.detail.response));
        this.actualizarSaldoGlobal();
        this.calcularTablasGráficos();
        this.loading = false;
      };
      
      manageLoadErrorResponse(err){
        console.log('manageLoadErrorResponse');
        console.log(err);
        // Mostrar mensaje de error y cerrar la ventana.
        this.loading = false;
      };

      addNewContract(){
        console.log('addNewContract');
        this.$.newContractWindow.set('open', true)
        //Show modal con la ventana del alta de contrato
      };

      do_showOperate(){
        console.log('addTransaction');
        this.$.operateWindow.set('open', true)
        //Show modal con la ventana del alta de contrato
      };

      actualizarSaldoGlobal() {
        console.log('actualizarSaldoGlobal');

        var totalamount = 0;

        for (var contract of this.contracts) {
          switch(contract.primaryAmount.currency) {
            // TODO Hacer calculo online como en transferencias
            case 'EUR':
              totalamount += contract.primaryAmount.amount;
              break;
            case 'USD':
              totalamount += contract.primaryAmount.amount*0.85;
              break;
            case 'GBP':
              totalamount += contract.primaryAmount.amount*1.14;
              break;
            case 'JPY':
              totalamount += contract.primaryAmount.amount*0.0098;
              break;
            case 'CNY':
              totalamount += contract.primaryAmount.amount*0.13;
              break;
            case 'CHF':
              totalamount += contract.primaryAmount.amount*0.87;
              break;
            case 'NOK':
              totalamount += contract.primaryAmount.amount*0.102;
              break;
          } 
          console.log("<<<inc>>>"+totalamount + "/" + contract.primaryAmount.amount);
        }
        this.balance = {'amount':totalamount, 'currency':'EUR','scale': 0};

      }

      do_delete_contract(){
        console.log('do_delete_contract');
        this.$.deleteContractWindow.set('open', true)
      }

      do_showTransactions() {
        console.log('do_showTransactions');
        //this.fire('showtransactions', {contractid: this.selectedcontractid});
        this.dispatchEvent(new CustomEvent('showtransactions', {contractid: this.selectedcontractid}));
      }
      
      toggleGrafics() {
        console.log('toggleGrafics');
        if (this.$.showiban.icon == 'coronita:hide' ) {
          
          this.$.showiban.icon = 'coronita:visualize';
          this.calcularTablasGráficos()
          this.$.graphics.hidden = false;
          
        } else {
          this.$.showiban.icon = 'coronita:hide'; 
          this.$.graphics.hidden = true;
        }
      }
        
      calcularTablasGráficos() {
        this.tablaCuentas = [];
        this.tablaDivisas = [];
        
        var totalDivisas = {};
        for (var contract of this.contracts) {
          this.tablaCuentas.push([contract.id,contract.primaryAmount.amount]);
          if (totalDivisas[contract.primaryAmount.currency]==null) {
            totalDivisas[contract.primaryAmount.currency] = contract.primaryAmount.amount;
          } else {
            totalDivisas[contract.primaryAmount.currency] = totalDivisas[contract.primaryAmount.currency] + contract.primaryAmount.amount;
          }
        }

        for (var currency in totalDivisas){
          this.tablaDivisas.push([currency,totalDivisas[currency]]);
        }
      }
    }

    window.customElements.define(MTListContracts.is, MTListContracts);
  </script>
</dom-module>
