<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="money-tracker">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MoneyTracker extends Polymer.Element {
      static get is() { return 'money-tracker'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'money-tracker'
          }
        };
      }
    }

    window.customElements.define(MoneyTracker.is, MoneyTracker);
  </script>
</dom-module>
