<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/bower_components/cells-st-button/cells-st-button.html">
<link rel="import" href="/bower_components/cells-select/cells-select.html">
<link rel="import" href="/bower_components/cells-radio-group/cells-radio-group.html">
<link rel="import" href="/bower_components/cells-atom-amount/cells-atom-amount.html">
<link rel="import" href="/bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="/bower_components/cells-modal-alert/cells-modal-alert.html">

<dom-module id="mt-add-transaction">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>

    <!-- selector del tipo de operación al cambiar la operación, limpiamos los campos y elegimos que visualizar-->

    <div class="vertical layout"
        style="max-width: 600px;margin-left: auto;margin-right: auto;align-self: center">

      <div class="horizontal layout">
        <div class="flex">
          <cells-molecule-input id="destinyAccount"
                                name="destiny_account"
                                label="Cuenta destino"
                                type="text"
                                value="{{transaction.destinationAccount}}"
                                error-icon="coronita:warning"
                                error-message="Este campo no puede estar vacío"
                                disabled="[[loading]]">
          </cells-molecule-input>
        </div>
        <div class="flex">
          <cells-molecule-input id="destinyName"
                                name="destiny_name"
                                label="Nombre de beneficiario"
                                type="text"
                                value="{{transaction.destinationName}}"
                                error-icon="coronita:warning"
                                error-message="Este campo no puede estar vacío"
                                disabled="[[loading]]">
          </cells-molecule-input>
        </div>
        <!-- TODO incluir validación de IBAN-->
      </div>

      <cells-molecule-input name="description_in"
                            label="Asunto"
                            type="text"
                            value="{{transaction.description}}"
                            error-icon="coronita:warning"
                            error-message="Este campo no puede estar vacío"
                            disabled="[[loading]]">
      </cells-molecule-input>
      <!-- cuenta destino o una combo con las cuentas. o un imput para poner un iban-->


      <div id="dImporte" class="horizontal layout">
        <!-- seleccion cuenta destino -->
        <div class="flex">
          <cells-molecule-input name="amount_in"
                                label="Importe"
                                type="number"
                                value="{{originalamount}}"
                                error-icon="coronita:warning"
                                error-message="Este campo no puede estar vacío"
                                disabled="[[loading]]"
                                on-focused-changed='amountChanged'>
          </cells-molecule-input>
        </div>
        <cells-select id="divisa"
                      label="Seleccione Divisa"
                      style="background: darkblue;"
                      options='[
                      { "title": "Euro (€)", "value" : "EUR"},
                      { "title": "Dolar ($)", "value" : "USD"},
                      { "title": "Libra (£)", "value" : "GBP"},
                      { "title": "Yen (¥)", "value" : "JPY"},
                      { "title": "Yuang (¥)", "value" : "CNY"},
                      { "title": "Franco Suizo (Fr)", "value" : "CHF"},
                      { "title": "Corona Noruega (Kr)", "value" : "NOK"}]'
                      right-icon="coronita:unfold"
                      selected-option='{ "title": "Euro (€)", "value" : "EUR"}'
                      on-selected-option-changed="applyFixing"
                      style="max-width: 300px;align-content: center">
        </cells-select-->
      </div>
      <div class="flex">
        <p> Importe en divisa de la cuenta:
          <!--cells-atom-amount amount="[[originalamount]]*[[fixingPrice]]" currency-code="[[currencyid]]"></cells-atom-amount-->
          <cells-atom-amount amount="[[transactionamount]]" currency-code='[[currencyid]]'></cells-atom-amount>
        </p>
      </div>
      <div class="horizontal layout">
        <cells-st-button class="tertiary">
          <button on-click="_clickSave">Aceptar</button>
        </cells-st-button>
        <cells-st-button class="quaternary">
          <button on-click="_clickCancel">Cancelar</button>
        </cells-st-button>
      </div>

      <!-- TODO mostrar el mensaje de ok y preguntar si quiere realizar otra operación-->
    </div>

    <cells-modal-alert id='alertbox' toast >
      </cells-modal-alert>

      <cells-modal-alert id='successbox'
        type="success"
        icon="coronita:alert"
        close-on-button-click
        content="Operación dada de alta correctamente."
        first-button-label="Continuar"
        first-button-classes="link"
        on-first-button-click="_continuar">
      </cells-modal-alert>


    <iron-ajax id = "doInsertTransaction"
              url = "http://localhost:3000/moneyTracker/v1/user/[[userid]]/contracts/[[contractid]]/transactions"
              method = "POST"
              handle-a = "json"
              headers="[[getTokenFromCache()]]"
              content-type = "application/json"
              on-response = "manageSaveResponse"
              on-error = "manageSaveErrorResponse">
    </iron-ajax>

    <iron-ajax id = "getExchangeRates"
              url = "http://free.currencyconverterapi.com/api/v5/convert?q=[[selectedCurrency]]_[[currencyid]]&compact=ultra"
              method = "GET"
              handle-a = "json"
              on-response = "manageFixingResponse"
              on-error = "manageFixingErrorResponse">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MTAddTransaction extends Polymer.Element {
      static get is() { return 'mt-add-transaction'; }
      static get properties() {
        return {
          userid: {
            type: String,
            value: ""
          },
          contractid: {
            type: String,
            value: ""
          },
          currencyid: {
            type: String,
            value: "EUR"
          },
          selectedCurrency: {
            type: String,
            value: "EUR"
          },
          fixingPrice: {
            type: Number,
            value: 1
          },
          transaction: {
            type: Object,
            value: {}
          },
          loading: {
            type: Boolean,
            value: false
          }
        };
      }

      getTokenFromCache() {
        console.log('getTokenFromCache');
        var auth_token = window.sessionStorage.getItem('auth_token');
        var header = {'auth_token': auth_token};
        return header;
      }

      _clickSave() {

        console.log("Save");
        this.loading = true;

        this.transaction.originalamount = this.originalamount * -1;
        this.transaction.originalcurrency = this.$.divisa.selectedOption.value;

        this.transaction.amount = this.originalamount * this.fixingPrice * -1;
        this.transaction.currency = this.currencyid;

        console.log(JSON.stringify(this.transaction));

        //TODO validar los input
        var transactionData = JSON.parse(JSON.stringify(this.transaction));

        this.$.doInsertTransaction.body = JSON.stringify(transactionData);
        this.$.doInsertTransaction.generateRequest();
        console.log("Peticion insert enviada");
      }

      _clickCancel() {
        console.log("clickCancel");
      }

      applyFixing(data){
        console.log("apply fixing:" + this.$.divisa.selectedOption.value);
        this.selectedCurrency = this.$.divisa.selectedOption.value;
        this.$.getExchangeRates.generateRequest();
      }

      manageSaveResponse(data){
        console.log('manageSaveResponse');
        //TODO Mostrar un mensaje de que la información se ha guardado correctamente
        this.err_message = "Operación ejecutada correctamente";
        this.$.successbox.open()

        this.loading = false;
      };

      manageSaveErrorResponse(err){
        console.log('manageSaveErrorResponse');
        console.log(err);
        // TODO Mostrar mensaje de error y cerrar la ventana.
        this.err_message = "Error al actualizar datos usuario ";
        this.$.alertbox.type = 'error';
        this.$.alertbox.content = this.err_message;
        this.$.alertbox.open()

        this.loading = false;
      }

      manageFixingResponse(response) {
        console.log('manageFixingResponse');
        console.log(response.detail.response);
        console.log(this.selectedCurrency + "_" + this.currencyid);
        this.fixingPrice = response.detail.response[this.selectedCurrency + "_" + this.currencyid];
        this.transactionamount = this.originalamount*this.fixingPrice;
        console.log(this.fixingPrice);
        console.log(this.transactionamount);
      }

      manageFixingErrorResponse(e) {
        console.log(e.message);
        console.log(e);
      }

      amountChanged() {
        console.log('amountChanged');

        this.transactionamount = this.originalamount*this.fixingPrice;
      }

      _continuar(){
        console.log("adelante");
        window.close()
      }
    }
    window.customElements.define(MTAddTransaction.is, MTAddTransaction);
  </script>
</dom-module>
