<link rel="import" href="/bower_components/polymer/polymer-element.html">
<!-- importaciones cells-->
<link rel="import" href="/bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="/bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="/bower_components/cells-st-button/cells-st-button.html">
<link rel="import" href="/bower_components/cells-banking-theme/cells-banking-theme.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/bower_components/cells-alert-manager/cells-alert-manager.html">
<link rel="import" href="/bower_components/cells-modal-alert/cells-modal-alert.html">

<link rel="import" href="/bower_components/cells-banking-theme/cells-banking-theme.html">

<dom-module id="mt-user-info">
  <template >
    <style>
      :host {
        display: block;
      }
    </style>
    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>

    <div class="vertical layout"
         style="max-width: 600px;margin-left: auto;margin-right: auto;">
      <div style="background-color: #F8CD51;text-align: center;" hidden="[[isLogged()]]">
        <br>
        <h3> Una vez se registre correctamente, mandaremos un email al correo indicado para activar la cuenta</h3>
        <br>
      </div>
      <cells-molecule-input name="email_in"
                            label="Email"
                            type="email"
                            value="{{userdata.email}}"
                            autofocus
                            auto-validate
                            required
                            error-icon="coronita:warning"
                            readonly="[[isLogged()]]"
                            disabled="[[loading]]">
      </cells-molecule-input>
    <div class="horizontal layout">
      <!--iron-icon icon=--"coronita:alphabeticalorder"></iron-icon-->
      <div class="flex">
        <cells-molecule-input name="name_in"
                              label="Nombre"
                              type="text"
                              value="{{userdata.name}}"
                              readonly="[[!edit_mode]]"
                              error-message="Este campo no puede estar vacío"
                              disabled="[[loadind]]">
        </cells-molecule-input>
      </div>
      <div class="flex">
        <!-- iron-icon icon="coronita:alphabeticalorder"></iron-icon-->
        <cells-molecule-input name="surname_in"
                              label="Apellidos"
                              type="text"
                              value="{{userdata.surname}}"
                              readonly="[[!edit_mode]]"
                              error-message="Este campo no puede estar vacío"
                              disabled="[[loadind]]">
        </cells-molecule-input>
      </div>
    </div>
    <div class="horizontal layout">
      <div class="flex">
        <!--iron-icon icon="coronita:lock"></iron-icon-->
        <cells-molecule-input name="password_in"
                              label="Contraseña"
                              type="password"
                              value="{{userdata.password}}"
                              icon="coronita:visualize"
                              icon-toggled="coronita:hide"
                              icon-label="View or hide password"
                              required
                              error-message="Este campo no puede estar vacío"
                              disabled="[[loading]]">
        </cells-molecule-input>
      </div>
      <div class="flex">
        <!--iron-icon icon="coronita:lock"></iron-icon-->
        <cells-molecule-input name="repeated_in"
                              label="Repita la contraseña"
                              type="password"
                              value="{{userdata.repeated}}"
                              icon="coronita:visualize"
                              icon-toggled="coronita:hide"
                              icon-label="View or hide password"
                              required
                              error-message="Este campo no puede estar vacío"
                              errorMessageIcon="coronita:warning"
                              disabled="[[loading]]">
        </cells-molecule-input>
      </div>
    </div>
      <!--iron-icon icon="coronita:valora"></iron-icon-->
      <cells-molecule-input name="address_in"
                            label="Dirección completa"
                            readonly="[[!edit_mode]]"
                            type="text"
                            value="{{userdata.address}}"
                            disabled="[[loading]]">
      </cells-molecule-input>
      <div class="horizontal layout">
        <div class="flex">
          <!--iron-icon icon="coronita:lock"></iron-icon-->
          <cells-molecule-input name="province_in"
                                label="Provincia"
                                type="text"
                                value="{{userdata.province}}"
                                disabled="[[loading]]">
          </cells-molecule-input>
        </div>
        <div class="flex">
          <!--iron-icon icon="coronita:lock"></iron-icon-->
          <cells-molecule-input name="city_in"
                                label="Población"
                                type="text"
                                value="{{userdata.city}}"
                                disabled="[[loading]]">
          </cells-molecule-input>
        </div>
        <div class="flex">
          <!--iron-icon icon="coronita:lock"></iron-icon-->
          <cells-molecule-input name="postalCode_in"
                                label="Código Postal"
                                type="number"
                                value="{{userdata.postalCode}}"
                                disabled="[[loading]]">
          </cells-molecule-input>
        </div>
      </div>
    <div class="horizontal layout">
      <div class="flex">
        <!--iron-icon icon="coronita:mobile"></iron-icon-->
        <cells-molecule-input name="mobile"
                              label="Numero de teléfono movil"
                              readonly="[[!edit_mode]]"
                              type="number"
                              value="{{userdata.mobilePhone}}"
                              disabled="[[loading]]">
        </cells-molecule-input>
    </div>
    <div class="flex">
      <!--iron-icon icon="coronita:telephone"></iron-icon-->
      <cells-molecule-input name="other_phone"
                            label="telefono alternativo"
                            readonly="[[!edit_mode]]"
                            type="number"
                            value="{{userdata.otherphone}}"
                            disabled="[[loading]]">
      </cells-molecule-input>
    </div>
    </div>
    <div class="light-bg">
      <cells-st-button class="quaternary">
        <button disabled="[[loading]]"
                on-click="_clickReset">Reset</button>
      </cells-st-button>
      <cells-st-button class="tertiary">
        <button disabled="[[loading]]"
                on-click="_clickSave">Guardar</button>
      </cells-st-button>
    </div>

    </div>
    <cells-modal-alert id='alertbox' toast >
      </cells-modal-alert>
    <cells-modal-alert id='alertboxcheck'

      icon="coronita:alert"
      close-on-button-click
      content="BIENVENIDO A TU APP"
      first-button-label="Continuar"
      first-button-classes="link"
      on-first-button-click="_continuar">

      </cells-modal-alert>

    <iron-ajax
    id = "doLoadData"
    url = "http://localhost:3000/moneyTracker/v1/user/{{userid}}"
    method = "GET"
    handle-a = "json"
    headers='[[getTokenFromCache()]]'
    content-type = "application/json"
    on-iron-ajax-presend = "prepareLoadRequest"
    on-response = "manageLoadResponse"
    on-error = "manageLoadErrorResponse"
    auto=[[isLogged()]]>

    <!-- url = "http://localhost:3000/moneyTracker/v1/user/{{userid}}" -->
    <iron-ajax
    id = "doInsertUser"
    url = "http://localhost:3000/moneyTracker/v1/new"
    method = "POST"
    handle-a = "json"
    content-type = "application/json"
    on-response = "manageSaveResponse"
    on-error = "manageSaveErrorResponse">

    <iron-ajax
    id = "doUpdateUser"
    url = "http://localhost:3000/moneyTracker/v1/user/{{userid}}"
    method = "PUT"
    handle-a = "json"
    headers='[[getTokenFromCache()]]'
    content-type = "application/json"
    on-response = "manageSaveResponse"
    on-error = "manageSaveErrorResponse">

    <cells-alert-manager id="messageAlert"></cells-alert-manager>
  </template>

  <script>

    /**
     * @customElement
     * @polymer
     */
    class MTUserInfo extends Polymer.Element {
      static get is() { return 'mt-user-info'; }
      static get properties() {
        return {
          userid: {
            type: String,
            value: ""
          },
          userdata: {
            type: Object,
            value: {}
          },
          olduser: {
            type: Object,
            value: {}
          },
          loading: {
            type: Boolean,
            value: false
          }
        };
      }

      isLogged() {
        console.log("isLogged " + (this.userid !== ""));
        return (this.userid !== "");
      }

      _clickSave() {
        console.log("Save");
        this.loading = true;
        console.log(JSON.stringify(this.userdata));

        //TODO validar los input

        var auxData = JSON.parse(JSON.stringify(this.userdata));
        if (auxData.password !== auxData.repeated) {
          console.log('Error, los campos de contraseña no son iguales');
          //TODO Mostrar mensaje de error
          this.err_message = "Error, las contraseñas no son iguales ";

          this.$.alertbox.type = 'error';
          this.$.alertbox.content = this.err_message;
          this.$.alertbox.open()
          return;

        } else {
          delete auxData.repeated;
        }

        if (this.userid == "") {
          this.$.doInsertUser.body = JSON.stringify(auxData);
          this.$.doInsertUser.generateRequest();
          console.log("Peticion insert enviada");


        } else {
          //eliminamos el id y el correo (ya que son datos no editables)
          delete auxData.email;
          delete auxData._id;
          this.$.doUpdateUser.body = JSON.stringify(auxData);
          this.$.doUpdateUser.generateRequest();
          console.log("Peticion update enviada");

        }

      }
      _continuar(){
        console.log("modificación realizada");
        window.location = "/user/"+this.userid
      }

      _clickReset() {
        console.log("Reset");
        this.userdata = JSON.parse(JSON.stringify(this.olduser));

      }

      manageLoadResponse(data){
        console.log('manageLoadResponse');
        // Mostrar mensaje de error
        console.log(JSON.stringify(data.detail.response));
        if (this.userid == "") {
          this.userdata = data.detail.response._id;
        }
        var auxUserdata = JSON.parse(JSON.stringify(data.detail.response));
        auxUserdata.repeated = data.detail.response.password;
        this.userdata = auxUserdata;
        this.olduser = auxUserdata;

        this.loading = false

      };

      manageLoadErrorResponse(err){
        console.log('manageLoadErrorResponse');
        console.log(err);
        // Mostrar mensaje de error y cerrar la ventana.
        var testAlert = 'Se ha producido un error: ' + err.message;
        this.err_message = testAlert;

        this.$.alertbox.type = 'error';
        this.$.alertbox.content = this.err_message;
        this.$.alertbox.open()

        this.loading = false
      }

      manageSaveResponse(data){
        console.log('manageSaveResponse');

        if (this.userid == ""){
          // TODO Mostrar un mensaje de envio de email para validar

          this.err_message = "Se ha mandado un mail a su dirección de correo para validar, pulse una tecla para continuar";

          this.$.alertboxcheck.type = 'success';
          this.$.alertboxcheck.content = this.err_message;
          this.$.alertboxcheck.open()
          // Volver a la página de login
          window.location = '/login';
        } else {
          //TODO Mostrar un mensaje de que la información se ha guardado correctamente
          this.err_message = "Modificación realizada correctamente ";

          this.$.alertboxcheck.type = 'success';
          this.$.alertboxcheck.content = this.err_message;
          this.$.alertboxcheck.open()

        }

        this.loading = false
      };

      manageSaveErrorResponse(err){
        console.log('manageSaveErrorResponse');
        console.log(err);
        // TODO Mostrar mensaje de error y cerrar la ventana.

        this.err_message = "Error al actualizar datos usuario ";

        this.$.alertbox.type = 'error';
        this.$.alertbox.content = this.err_message;
        this.$.alertbox.open()

        this.loading = false
      }

      getTokenFromCache() {
        console.log('getTokenFromCache');
        var auth_token = window.sessionStorage.getItem('auth_token');
        var header = {'auth_token': auth_token};
        return header;
      }
    }

    window.customElements.define(MTUserInfo.is, MTUserInfo);
  </script>
</dom-module>
